{namespace net.cljhh.common}

/**
 * Renders the landing page.
 */
{template .welcome}
  <html>
    <head>
      <title>Welcome to the Clojure Group Hamburg</title>
    </head>
    <body>
      <div>Welcome to the Clojure Group Hamburg.</div>
    </body>
  </html>
{/template}
